.about-main {
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    color: black;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-pic-box {
    height: 65vh;
    margin-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-pic {
    height: 40vh;

}

.about-body {
    width: 70vw;
    max-width: 600px;
    height: 70vh;
    
}

.about-body > p {
    margin: 3vh 0;
    line-height: 25px;
}



.about-technologies {
    font-size: 1.2rem;
    font-weight: 700;
}