.about-main {
    height: 93vh;
    width: 100vw;
    font-family: Roboto;
    color: black;
    background: rgb(240, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-body {
    width: 70vw;
    max-width: 600px;
    height: 70vh;
    
}

.about-body > p {
    margin: 3vh 0;
    line-height: 25px;
}



.about-technologies {
    font-size: 1.2rem;
    font-weight: 700;
}