.projects-main {
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: Roboto;
    background: whitesmoke;
    color:gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
    height: 18%;
    color: black;
    font-size: 3.0rem;
    margin: 0;
}

.projects-links {
    height: 70%;
    width: 75vw;
    max-width: 800px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.projects-link-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.projects-link-box:hover {
    width: 310px;
    height: 310px;
    -webkit-transition: .3s;
    transition: .3s;
    
}

.projects-popup-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    z-index: 2;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    background: rgba(207, 205, 205, 0.6);
    overflow-x: hidden;
}



.projects-popup-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .projects-popup-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

.projects-popup-container::-webkit-scrollbar-thumb {
  background-color: rgb(77, 102, 128);
  outline: 1px solid navy;
}

.projects-popup {
    position: absolute;
    z-index: 3;
    top: 5vh;
    width: 85vw;
    max-width: 750px;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: black;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}


.hide {
    height: 0vh;
    width: 0px;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

.popup-image {
    width: 85vw;
    max-width: 750px;
}

.popup-description-box {
    width: 80vw;
    max-width: 700px;
    margin-top: 2vh;
}

.popup-title {
    margin: 0;

}

.popup-subtitle {
    margin: 0;
    color: rgb(77, 102, 128);
    
}

.popup-description {
    padding-top: 1vh;
    border-top: rgb(77, 102, 128) 1px solid ;
    font-size: 0.8rem;
    color: rgb(77, 102, 128);
}

.popup-close-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2vh 0;
}

.close {
    font-size: 1.2rem;
    color: rgb(77, 102, 128);
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.close:hover {
    font-size: 1.4rem;
    -webkit-transition: .2s;
    transition: .2s;

}

.close-box {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .2s;
    transition: .2s;

}

.close-box:hover {
    height: 33px;
    width: 33px;
    background: rgb(216, 215, 215);
    border: rgb(77, 102, 128) solid 2px;
    color: rgb(77, 102, 128);
    -webkit-transition: .2s;
    transition: .2s;

}

.popup-link {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(216, 215, 215);
    border: rgb(77, 102, 128) solid 2px;
    color: rgb(77, 102, 128);
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}


.popup-link:hover {
    width: 160px;
    height: 35px;
    border: rgb(32, 118, 211) 2px solid;
    color: rgb(32, 118, 211);
    -webkit-transition: .3s;
    transition: .3s;
}

@media only screen and (max-width: 875px) {

    .project-title {
        font-size: 2rem;
        padding-bottom: 10%;
    }

    .projects-links {
        overflow: scroll;
        align-items: flex-start;
        justify-content: flex-start;
    }


    .projects-link-box {
        width: 200px;
        height: 200px;
 
    }

    
    .projects-link-box:hover {
        width: 210px;
        height: 210px;
    }
}


